<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= t.$0000 %></title>
  </head>
  <body>
    <h1><%= t.$0008 %></h1>
    <table>
      <caption>Main props for requets clients</caption>
      <thead>
        <tr>
          <th>Prop name</th>
          <th>Prop type</th>
          <th>Prop value</th>
        </tr>
      </thead>
      <tbody>
        <% for (let prop in req) { %>
        <tr>
          <td><span>request.<%= prop %></span></td>
          <td><span><%= typeof req[prop] %></span></td>
          <td><span><%= typeof req[prop] !== "object" ? typeof req[prop] !== 'function' ? req[prop] : "is function" : "is Object" %></span></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <hr/>
    <table>
      <caption>Main props for requets clients</caption>
      <thead>
        <tr>
          <th>Prop name</th>
          <th>Prop type</th>
          <th>Prop value</th>
        </tr>
      </thead>
      <tbody>
        <% for (let prop in res) { %>
        <tr>
          <td><span>response.<%= prop %></span></td>
          <td><span><%= typeof res[prop] %></span></td>
          <td><span><%= typeof res[prop] !== "object" ? typeof res[prop] !== 'function' ? res[prop] : "is function" : "is Object" %></span></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
